/* reset */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #28f;
}

.navbar .navbarBranch {
    display: flex;
    align-items: center;
}

.navbar .navbarBranch img {
    height: 10rem;
}

/* Estilos categorias */
.navbar .navCategory .navCategory-list {
    list-style: none;
}

.navbar .navCategory .navCategory-link{
    text-decoration: none;
    background-color: beige;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

/* Estilos CartWidget */
.navbar .cartStyle {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navbar .cartStyle p {
    text-align: center;
    color: #000;
    background-color: beige;
    padding: 0.4rem;
    border-radius: 1rem;

}



